* {
    margin: 0;
    padding: 0;
}

.setting {
    display: flex;
    margin: auto;
    border: 1px solid black;
    width: 25%;
    height: 50%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background: black;
}

.setting_form {
    display: flex;
    flex-direction: column;
}

.old_password {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.setting_form button {
    margin-top: 10px;
    height: 35px;
    border-radius: 10px;
    background: white;
    color: black;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
}

/* .setting_form input {
    margin-top: 10px;
    height: 35px;
    border-radius: 5px;
} */

.setting_form label {
    font-weight: 600;
    margin-top: 10px;
    color: white;
}
.setting_form input:hover{
    translate: none;
}

.setting_form button:hover{
    cursor: pointer;
}
.setting h3{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 1px solid white;
    border-radius:5px ;
    width: 100%;
    font-size: 26px;
}
.input_field{
    display: flex;
    background: white;
    border: none;
    height: 32px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.input_field input{
    display: flex;
     border: none;
     outline: none;
}
.input_field i:hover{
    cursor: pointer;

}
