/* .expense-list{
    width: 75%;
    display: flex;
    justify-content: center;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
    10px 10px 10px rgba(0, 0, 0, 0.2),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 75px ;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    background: #fff;
}
.content-box{
    background-color: #61616117;
    padding: 12px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    border-bottom: 2px solid #61616117;
    width: 75%;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
    10px 10px 10px rgba(0, 0, 0, 0.2),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.trans-heading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 20px 0 0 0;

}
.no-trans{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
.right-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
}
.des{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.list-amount{
    font-size: 20px;
    font-weight: 500;
}
.delete-icon{
    font-size: 16px;
    cursor: pointer;
}
.download-btn{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}
h4{
    text-transform: none;
}
.date{
    display: flex;
}

.inc-list{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 600;
    font-style: oblique;
} */

.expense-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
}

.trans-heading {
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-top: 30px;
    background: #fff;
    border-radius: 15px;
}

.no-trans {
    display: flex;
    justify-content: center;
    margin: auto;
}

.content-box {
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 43px;
    margin-right: 43px;
    border-bottom: 1px solid black;
}

.des {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px;
}